.aCwcontent {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.aCwcontent::-webkit-scrollbar {
    width: 0 !important
}

.aCwNavi {
    position: absolute;
    width: 100%;
    height: 10%;
    right: 0px;
    padding: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    z-index: 2;
}

.aCwNavi a {
    color: white;
    text-shadow: 1px 1px 3px black;
}

.aCwNavi a:hover {
    color: black;
}

#bio {
    display: flex;
    height: 100%;
}

.profile {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.Pic {
    justify-content: flex-end;
    padding-right: 5%;
}

.pfp {
    height: 356px;
    width: 356px;
    border-radius: 20px;
    box-shadow: 1px 3px 12px 2px black;
    transition: 0.2s ease;
}

.pfp:hover {
    transform: scale(1.1);
}

.Info {
    justify-content: center;
}

.pfInfo {
    height: 356px;
    width: 85%;
    box-shadow: -1px 3px 12px 2px black;
    border-radius: 20px;
    transition: 0.2s ease;
    padding: 2%;
}

.pfInfo h2 {
    font-size: 19px;
    padding-top: 20px;
}

.pfInfo:hover {
    transform: scale(1.1);
}

.headline {
    margin-left: 45%;
    width: 50%;
    font-size: 20px;
    font-weight: bold;
}

#education {
    height: 100%;
    background-color: rgb(67, 94, 230);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.eduInfo {
    height: 50%;
    width: 66%;
    border-radius: 20px;
    box-shadow: 0px 2px 12px 4px black;
    transition: 0.2s ease;
}

.eduInfo:hover {
    transform: scale(1.1);
}

#jobs {
    height: 100%;
    background-color: rgb(230, 116, 30);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#skills {
    height: 100%;
    background-color: rgb(30, 230, 150);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}