body {
    background-color: white;
}

body::-webkit-scrollbar {
    display: none;
}

.navbar {
    border: 4px solid black;
    background-color: white;
    position: absolute;
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 34px;
    font-weight: bold;
    color: black;
    letter-spacing: .5rem;
    padding: 0 !important;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

.navbar a:hover {
    color: rgb(27, 31, 233);
}

.top {
    z-index: 8;
    width: 100%;
    height: 60px;
}

.bottom {
    z-index: 9;
    width: 100%;
    height: 60px;
    bottom: 0;
    animation: navbutton 0.3s ease 0s 1 normal forwards;
}

.left {
    min-height: 150%;
    width: 60px;
    z-index: 9;
    padding-right: 0px;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
}

.right {
    padding-right: 0px;
    right: 0;
    height: 150%;
    width: 60px;
    z-index: 7;
    writing-mode: vertical-rl;
}

.Homebuttons {
    z-index: 10;
    width: 100%;
    height: 60px;
    bottom: 0;
    display: none;
}

.home {
    width: 100%;
    height: 100%;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 0 !important;
    animation: navbutton 0.3s ease 0s 1 normal forwards;
}

.navButton {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    cursor: pointer;
}

.navButton:hover {
    background-color: rgb(60, 190, 60);
}

#navHome {
    background-color: rgb(86, 110, 241);
    color: white;
    text-shadow: 1px 1px 3px black;
}

#navHome:hover {
    background-color: rgb(59, 79, 190);
}

@keyframes navbutton {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
