.cCwContent {
    height: 100%;
    width: 100%;
    padding-top: 10%;
}

.cCwMail {
    margin-top: -5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    height: 100%;
    width: 50%;
    float: left;
}

.form-input {
    border-radius: 10px;
    border: 0;
    padding: 5px 0 5px 15px;
    transition: 0.5s ease-out;
    margin: 5px 0px;
    color: rgb(153, 150, 150);
    background-color: rgb(37, 38, 46);
}

.form-input:focus {
    background-color: white;
    outline: none;
    box-shadow: 0px 0px 17px 4px rgba(66, 68, 90, 1);
}

.form-button {
    transition: 0.2s linear;
    border-radius: 10px;
    border: 0;
    background-color: rgb(37, 38, 46);
    color: white;
    margin-left: 100px;
    width: 200px !important;
}

.form-button:hover {
    background-color: white;
    color: black;
    transform: scale(1.05);
    outline-offset: 5px;
    outline: 3px solid rgb(37, 38, 46);
}

.cCwContact {
    margin-top: -6.5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    height: 100%;
    width: 50%;
    float: right;
}

.Icontact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-start;
    padding-left: 5%;
}

.contact-icon {
    margin: 10px 0;
    border: 1px solid rgb(37, 38, 46);
    padding: 25px 12px;
    background-color: rgb(37, 38, 46);
    border-radius: 50%;
    transition: 0.2s ease-in;
    color: white;
}

.contact-icon:hover {
    border: 1px solid white;
    background-color: white;
    color: black;
    outline-offset: 5px;
    outline: 3px solid rgb(37, 38, 46);
}

.hitMe {
    align-content: flex-end;
    margin-top: 86px;
    padding-left: 20px;
}

.cCw h1 {
    font-family: 'Source Serif Pro', serif;
    color: black;
}

.cCwMail input {
    width: 400px;
}


.text-area {
    min-width: 400px;
    min-height: 100px;
    max-height: 300px;
    transition: none;
}