.projects:hover {
    background-color: blue;
    color: white;
    width: 70%;
    height: 50%;
}

.contact:hover {
    background-color: blue;
    color: white;
    width: 50%;
    height: 70%;
}

.about:hover {
    background-color: blue;
    color: white;
    width: 50%;
    height: 70%;
}

.services:hover {
    background-color: blue;
    color: white;
    width: 70%;
    height: 50%;
}

.smallH {
    width: 30%;
    height: 70%;
}

.bigH {
    width: 45%;
    height: 50%;
}

.smallW {
    width: 55%;
    height: 30%;
}

.smallM {
    width: 25%;
}

.smallW2 {
    width: 50%;
    height: 45%;
}

.smallH2 {
    width: 30%;
    height: 55%;
}

.bigW {
    width: 70%;
    height: 30%;
}

.bigM {
    height: 25%;
}