.projects:hover {
    background-color: rgb(75, 162, 168);
    color: white;
    width: 70%;
    height: 50%;
    text-shadow: 1px 1px 3px black;
}

.contact:hover {
    background-color: rgb(69, 209, 88);
    color: white;
    width: 50%;
    height: 70%;
    text-shadow: 1px 1px 3px black;
}

.about:hover {
    background-color: rgb(123, 21, 170);
    color: white;
    width: 50%;
    height: 70%;
    text-shadow: 1px 1px 3px black;
}

.services:hover {
    background-color: rgb(215, 218, 41);
    color: white;
    width: 70%;
    height: 50%;
    text-shadow: 1px 1px 3px black;
}

.smallH{
    width: 30%;
    height: 70%;
    text-shadow: 1px 1px 3px black;
}

.bigH{
    width: 50%;
    height: 50%;
}

.smallW{
    width: 50%;
    height: 30%;
}

.smallW2{
    width: 50%;
    height: 50%;
}

.smallH2{
    width: 30%;
    height: 50%;
}

.bigW{
    width: 70%;
    height: 30%;
}
