.projectRow {
    width: 180%;
    height: 100%;
    margin-right: 0 !important;
    margin-left: 0 !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 0px;
    gap: 30px;
}

.Pshowcase {
    height: 45%;
    width: 25%;
    border-radius: 20px;
    border: 1px solid white;
    transition: linear;
    transform: translateX(0%);
}

.Pshowcase:hover {
    cursor: pointer;
}
