.projectRow {
    width: 200%;
    height: 100%;
    margin-right: 0 !important;
    margin-left: 0 !important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.Pshowcase {
    height: 50%;
    width: 25%;
    margin: 16px;
    border-radius: 20px;
    border: 1px solid white;
    transition: linear;
    transform: translateX(0%);
}

.Pshowcase:hover {
    cursor: pointer;
}
