.projectRow {
    width: 140%;
    height: 100%;
    margin-right: 0 !important;
    margin-left: 0 !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 0px;
    gap: 30px;
}

.Pshowcase {
    height: 45%;
    width: 25%;
    border-radius: 20px;
    border: 1px solid white;
    transition: 0.3s linear;
    transform: translateX(0%);
}

.Pshowcase:hover {
    cursor: pointer;
    outline-offset: 10px;
    outline: 3px solid rgb(37, 38, 46);
}

.Pshowcase:hover .showProject {
    animation: showProject 0.5s ease-in 0s 1 normal forwards;
}

.showProject{
    width: 100%;
    height: 100%;
    color: black;
    border-radius: 20px;
    opacity: 0.4 !important;
    background-color: blueviolet;
    transition: .5s ease-in;
    animation: showProject-reverse 0.5s ease-in 0s 1 normal forwards;
}

@keyframes showProject {
	0% {
		opacity: 0;
        transform: scale(0);
	}

	100% {
		opacity: 1;
        transform: scale(1);
	}
}

@keyframes showProject-reverse {
	0% {
		opacity: 1;
        transform: scale(0.7);
	}

	100% {
        opacity: 0;
        transform: scale(0);
	}
}