@media only screen and (max-width: 1400px) {
    .center {
        font-size: 16px;
    }

    .home {
        font-size: 22px;
        letter-spacing: .2rem !important;
    }

    .cCw h1 {
        font-size: 22px;
    }

    .text-area {
        width: 200px !important;
        min-height: 75px !important;
        max-height: 200px !important;
        font-size: 12px;
    }

    .form-button {
        margin-left: 0 !important;
    }

    .cCwMail input {
        width: 200px !important;
        font-size: 12px;
    }

    .Pic {
        width: 30% !important;
    }

    .Info {
        width: 70% !important;
    }

    .pfp {
        height: 256px !important;
        width: 256px !important;
    }

    .pfInfo {
        height: 256px !important;
    }

    .aCwNavi h1{
        font-size: 20px;
    }
}

@media only screen and (max-width: 1000px) {
    .projectRow {
        flex-wrap: nowrap !important;
    }
}

@media only screen and (max-width: 800px) {
    .center {
        font-size: 16px;
    }

    .home {
        font-size: 14px;
        letter-spacing: .1rem !important;
    }

    .cCwMail {
        margin-top: -15% !important;
        width: 100% !important;
        justify-content: center !important;
    }

    .text-area {
        width: 250px !important;
        min-height: 125px !important;
        max-height: 250px !important;
        font-size: 12px;
    }

    .form-button {
        margin-left: 0 !important;
    }

    .cCwMail input {
        width: 250px !important;
        font-size: 12px;
    }

    .cCwContact,
    .exit {
        display: none !important;
    }

    .Pic {
        display: none !important;
    }

    .Info {
        width: 100% !important;
    }

    .pfInfo {
        height: 60% !important;
    }

    .eduInfo {
        width: 85% !important;
        height: 60% !important;
    }
}

@media only screen and (max-width: 400px) {
    .navbar {
        font-size: 12px !important;
        letter-spacing: .1rem !important;
    }

    .home {
        font-size: 10px !important;
        letter-spacing: .1rem !important;
    }

    .top,
    .bottom,
    .Homebuttons {
        height: 30px !important;
    }

    .left,
    .right {
        width: 30px !important;
    }

    .content {
        padding: 30px !important;
    }

    .mid {
        font-size: 8px !important;
    }

    .pfInfo{
        font-size: 14px !important;
    }

    .aCwNavi h1{
        font-size: 16px !important;
    }
}