.sCwcontent {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-family: 'Merriweather', serif;
}

.sCwcontent::-webkit-scrollbar {
    width: 0 !important
}

.sCwBlock {
    width: 50%;
    height: 100%;
    padding-top: 20px;
}

.sCwBlock h3 {
    font-weight: bold;
}

.sCwData {
    width: 100%;
    height: auto;
    font-weight: bold;
}